<div class="page-wrapper without-bottom-slope">
  <div class="flex-center boxH100">
    <div id="about-content">
      <swiper-container
          #swiper
          [slidesPerView]="1"
          [pagination]="{
              clickable: true,
              el: '.bullets-container',
              type: 'bullets'
          }"
          (slidechangetransitionend)="swiperSlideChanged()"
          [navigation]="{
              nextEl: '#swiper-forward',
              disabledClass: 'disabled_swiper_button'
          }"
          [spaceBetween]="25"
          style="overflow: hidden"
      >
          <swiper-slide *ngFor="let slide of slides">
            <mat-card
              *ngIf="slide.tipoSlide === TIPOS_DIAPOSITIVA.TIPO_PANCARTA"
              class="card-tipo-pancarta"
            >
              <img
                class="img-pancarta-tipo-pancarta"
                [alt]="slide.imagen_pancarta_texto_alternativo"
                [src]="slide.imagen_pancarta"
              />

              <mat-card-header
                class="header-tipo-pancarta"
                *ngIf="slide.titulo"
              >
                <mat-card-title class="titulo-tipo-pancarta">
                  <h2 class="titulo-etiqueta-tipo-pancarta">
                    {{slide.titulo}}
                  </h2>
                </mat-card-title>
              </mat-card-header>

              <mat-card-content
                class="body-tipo-pancarta"
                *ngIf="slide.subtitulo"
              >
                <p class="parrafo-tipo-pancarta">
                  {{slide.subtitulo}}
                </p>
              </mat-card-content>
            </mat-card>
          </swiper-slide>
      </swiper-container>
    </div>
  </div>
</div>