swiper-slide {
    width: 100%;
    height: 100%;
    align-self: center;
}

swiper-slide > * {
    width: auto;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;

}

swiper-container {
    overflow: hidden !important;
    --swiper-navigation-color: var(--myrmex-primary);
    --swiper-pagination-color: var(--myrmex-primary);
}

.slide {
  height: 100%;

  > *, #swiper-container {
      margin: auto;
      width: 100%;
      height: 100%;
      object-fit: contain;
  }

  &.with-nav-button {
      max-height: calc(100% - 100px);
  }
}

.disabled_swiper_navigation_container {
  display: none !important;
}

/*
.slide .swiper-button-next,
.slide .swiper-button-prev,
.slide .swiper-button-disabled {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
    display: none !important;
}

swiper-container {
    height: 100%;
    overflow: unset;
    --swiper-navigation-color: transparent;
}
*/

.bullets-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.bullets-container .swiper-pagination-bullet {
/*background-color: var(--kactus-secondary); /* Color de fondo del bullet inactivo */
}

.bullets-container .swiper-pagination-bullet-active {
/*background-color: var(--kactus-color); /* Color de fondo del bullet activo */
}

.myrmex-navigation-container {
  --skew-degrees: 10deg;
  --navegation-spacing: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: double;
  box-shadow: 5px 5px black;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.2666666667);
  background-color: #f7f7f7;
}

.mirmex_navigation_button {
  color: var(--myrmex-primary);
  padding: 5px;
}

.myrmex-navigation-container.prev-navigation-container {
  transform: skewX(calc(var(--skew-degrees) * -1));
  margin-right: var(--navegation-spacing);
}

.myrmex-navigation-container.prev-navigation-container .prev-navigation-button {
  @extend .mirmex_navigation_button;
  padding-right: var(--navegation-spacing);
}

.myrmex-navigation-container.prev-navigation-container .prev-navigation-button > * {
  transform: skewX(calc(var(--skew-degrees) * 1));
}

.myrmex-navigation-container.next-navigation-container {
  transform: skewX(calc(var(--skew-degrees) * 1));
  margin-left: var(--navegation-spacing);
}

.myrmex-navigation-container.next-navigation-container .next-navigation-button {
  @extend .mirmex_navigation_button;
  padding-left: var(--navegation-spacing);
}

.myrmex-navigation-container.next-navigation-container .next-navigation-button > * {
  transform: skewX(calc(var(--skew-degrees) * -1));
}

#about-content {
  width: 50%;
}

.card-tipo-descriptor,
.card-tipo-pancarta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-style: double;
  box-shadow: 5px 5px black;
  border-radius: 30px;
  border-color: rgba(0, 0, 0, 0.2666666667);
  background-color: #f7f7f7;
  margin: 5px;
}

.img-pancarta-tipo-pancarta {
  width: auto;
}

.header-tipo-pancarta {
  justify-content: center;
}

.titulo-tipo-pancarta { }

.titulo-etiqueta-tipo-descriptor,
.titulo-etiqueta-tipo-pancarta {
  font-family: wayner, monospace;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3pt;
  text-shadow: 2px 0 0 #b00, 0 2px #b00, 1px 1px #b00;
  text-align: center;
}

.body-tipo-pancarta { }

.subtitulo-tipo-pancarta {
  color: black;
  text-align: center;
  font-family: code-pro-bold, sans-serif;
  font-size: 19px;
  letter-spacing: 10px;
  font-weight: bolder;
  text-shadow:
    0 6px rgba(0, 0, 0, 0.2666666667),
    0 12px rgba(0, 0, 0, 0.1333333333);
}

.body-tipo-descriptor {
  width: 100%;
}

.body-tipo-descriptor-content:has( > .img-container-descriptor-tipo-descriptores) > *,
.body-tipo-descriptor-content:has( > .img-container-descriptor-tipo-descriptor) > * {
  width: 100%;
}

.img-descriptor-tipo-descriptor {
  width: 100%;
}

.header-tipo-descriptor {
  width: 100%;
}

.card-tipo-descriptor {
  gap: 5px;
}

.subtitulo-tipo-descriptor {
  margin-bottom: 8px;
}

.subtitulo-etiqueta-tipo-descriptor {
  color: #333;
  text-align: start;
  font-family: code-pro-bold, sans-serif;
  font-size: 15px;
  letter-spacing: 5px;
  text-shadow: 0 3px rgba(0, 0, 0, 0.2666666667);
  margin-bottom: 5px;
}

.titulo-etiqueta-tipo-descriptor {
  margin-bottom: 10px;
}

.parrafo-tipo-descriptor-container {
  width: 100%;
}

.parrafo-tipo-descriptor {
  font-family: montserrat,sans-serif;
  line-height: 20px;
  white-space: pre-line;
  text-align: justify;
}

.card-tipo-descriptores-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.img-container-descriptor-tipo-descriptores {
  width: 50% !important;
}

.img-container-descriptor-tipo-descriptores .img-descriptor-tipo-descriptor {
  width: 80%;
  margin: auto;
}