<div class="boxW100 flex-column gap-10">
  <button
    *ngIf="paramz_algrtm.length > 0"
    class="boxW100"
    mat-flat-button
    color="primary"
    (click)="reinitParams()"
  >
    <mat-icon>restart_alt</mat-icon>
    Reiniciar todos
  </button>

  <div id="param-algrtm-container">
    <mat-card
      *ngFor="let param_algrtm of paramz_algrtm; index as i_param"
      [ngClass]="{'left-side': i_param % 2 == 0, 'right-side': i_param % 2 == 1, 'edited-arg': param_algrtm.get_dato('valor') != param_algrtm.get_dato('valor_inicial')}"
    >
      <mat-card-header>
        <mat-icon mat-card-avatar color="primary">
          {{getParamTypeIcon(i_param)}}
        </mat-icon>

        <mat-card-title> {{param_algrtm.nombre}} </mat-card-title>

        <mat-card-subtitle *ngIf="param_algrtm.have_datos()">
          {{ param_algrtm.get_dato('tipo') }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <span class="param-algrtm-description">
          {{param_algrtm.descripcion}}
        </span>

        <mat-form-field class="boxW100" *ngIf="param_algrtm.have_datos()">
          <mat-label> Valor de {{param_algrtm.nombre}} </mat-label>

          <input
            type="text"
            placeholder="Ej: {{param_algrtm.get_dato('defecto')}}"
            matInput
            [(ngModel)]="param_algrtm.datos['valor']"
            (change)="set_args_editados()"
          >
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions align="end">
        <button
          mat-flat-button
          color="primary"
          (click)="reinitParam(i_param)"
        >
          <mat-icon>restart_alt</mat-icon>
          Reiniciar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>