<mat-card>
    <mat-card-header>
      <mat-card-title>
        {{getTitulo()}}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="seccion-container">
        <div class="boxW100 flex-row gap-10">
            <mat-icon color="primary"> {{getIcono()}} </mat-icon>
            <span class="mensaje-error">
                {{getMensaje()}}
            </span>
        </div>
    </mat-card-content>

    <mat-card-actions align="end">
        <div *ngIf="modoRenderizado() == 0" class="boxW100">
            <button
                mat-flat-button
                color="primary"
                (click)="irInicioSesion()"
            >
                Iniciar sesion
            </button>
        </div>
    </mat-card-actions>
</mat-card>