<div class="page-wrapper">
  <div class="boxW100 flex-row flex-space-between">
    <div class="solucion-container flex-column gap-20">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h2>{{solucion.titulo}}</h2>
          </mat-card-title>

          <mat-card-subtitle>
            <mat-chip-list>
              <mat-chip> {{solucion.getLenguajeEtiqueta()}} </mat-chip>

              <mat-chip
                *ngFor="let etiqueta of solucion.etiquetas"
              >
                {{etiqueta}}
              </mat-chip>
            </mat-chip-list>
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <mat-accordion multi>
            <mat-expansion-panel
              hideToggle
              [expanded]="inspector_apertura"
              (opened)="set_inspector_apertura(true)"
              (closed)="set_inspector_apertura(false)"
            >
              <mat-expansion-panel-header>
                <mat-panel-title> Inspector </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="boxW100 flex-row gap-10">
                <button
                  class="boxW100 main-function-button-H"
                  mat-flat-button
                  color="primary"
                  *ngIf="solucion.instancia_id && solucion.argumentacion_instancia_id"
                  (click)="set_instancia_apertura(true)"
                >
                  <mat-icon>troubleshoot</mat-icon>
                  Ver la instancia
                </button>

                <button
                  class="boxW100 main-function-button-H"
                  mat-flat-button
                  color="primary"
                  *ngIf="solucion.implementacion_id && solucion.argumentacion_implementacion_id"
                  (click)="set_implementacion_apertura(true)"
                >
                  <mat-icon>online_prediction</mat-icon>
                  Ver la implementacion
                </button>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel
              hideToggle
              [expanded]="codigo_apertura"
              (opened)="set_codigo_apertura(true)"
              (closed)="set_codigo_apertura(false)"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  C&oacute;digo
                </mat-panel-title>
              </mat-expansion-panel-header>

              <markdown
                class=""
                katex
                lineHighlight
                [data]="'```' + solucion.lenguaje_nombre + '\n' + solucion.codigo_puntuado + '\n```'"
              >
              </markdown>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>

      <myrmex-academic-referecnce-list
        [academicReferences]="academicReferences"
        [es_padre_advertencia]="true"
      >
        <myrmex-actions-warning-box>
        </myrmex-actions-warning-box>
      </myrmex-academic-referecnce-list>
    </div>

    <div class="aditamentos-container" *ngIf="esAccionable()">
      <myrmex-solcn-eval-box
        *ngIf="esEjecutableComando()"
        [solcn_id]="solucion.solucion_id"
      >
      </myrmex-solcn-eval-box>

      <button
        class="boxW100 main-function-button-H"
        mat-flat-button
        color="primary"
        *ngIf="esEditable()"
        routerLink="/solucion/editor/{{solucion.solucion_id}}"
      >
        <mat-icon>edit</mat-icon>
        Editar la soluci&oacute;n
      </button>

      <button
        class="boxW100 main-function-button-H"
        mat-flat-button
        color="primary"
        *ngIf="esEjecutable()"
      >
        <mat-icon>code</mat-icon>
        Ejecutar la soluci&oacute;n
      </button>
    </div>

    <div class="aditamentos-container" *ngIf="!esAccionable()">
      <myrmex-actions-warning-box>
      </myrmex-actions-warning-box>
    </div>
  </div>
</div>