<div class="boxW100 flex-column gap-10">
  <button
    class="boxW100 main-function-button-H save-as-button"
    mat-flat-button
    color="primary"
    [disabled]="no_es_guardable_argumentos()"
    [ngClass]="{'esta_deshabilitado': no_es_guardable_argumentos()}"
    (click)="set_arg_creador_apertura(true)"
  >
    <mat-icon>save</mat-icon>
    Publicar argumentos actuales
  </button>

  <div id="args-param-container">
    <mat-card
      *ngFor="let argumentacion of args_paramz; index as i_args"
      [ngClass]="{'selected-args': argumentacion.clave_id == arg_selecto}"
    >
      <mat-card-header>
        <mat-card-title> Argumentacion {{i_args}} </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <span class="arg-paramz-description">
          {{argumentacion.descripcion}}
        </span>

        <mat-accordion multi *ngIf="argumentacion.have_argumentos()">
          <mat-expansion-panel
            hideToggle
            [expanded]="get_arg_apertura(i_args)"
            (opened)="set_arg_apertura(i_args, true)"
            (closed)="set_arg_apertura(i_args, false)"
          >
            <mat-expansion-panel-header
              collapsedHeight="30px"
              expandedHeight="30px"
            >
              <mat-panel-title>
                Argumentos
              </mat-panel-title>
            </mat-expansion-panel-header>

            <myrmex-args-box
              [argumentacion]="argumentacion"
              [esSelecto]="argumentacion.clave_id == arg_selecto"
            >
            </myrmex-args-box>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>

      <mat-card-actions
        align="end"
        *ngIf="argumentacion.clave_id != arg_selecto"
      >
        <button
          mat-flat-button
          color="primary"
          (click)="set_arg_selected(argumentacion.clave_id)"
        >
          <mat-icon>checklist</mat-icon>
          Seleccionar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>