<mat-card>
  <mat-card-header>
    <mat-card-title class="fc-color-primary buscador-titulo">
      Filtrar por etiqueta
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="flex-column">
      <div *ngIf="editor_mode == 'E'">
        <mat-form-field class="boxW100">
          <mat-label>Nombre de etiqueta</mat-label>

          <input
            #nombreEtiqueta
            type="text"
            placeholder="Nombra la etiqueta"
            matInput
          >
        </mat-form-field>

        <mat-form-field class="boxW100">
          <mat-label>Descripci&oacute; de etiqueta</mat-label>

          <textarea
            #descripcionEtiqueta
            matInput
            placeholder="Describe la etiqueta"
          ></textarea>
        </mat-form-field>
      </div>

      <form *ngIf="editor_mode == 'B'">
        <mat-form-field class="boxW100">
          <mat-label>Buscador de etiqueta</mat-label>

          <input
            #buscadorEtiqueta
            type="text"
            placeholder="Agrega una etiqueta"
            aria-label="Buscador de etiqueta"
            matInput
            [formControl]="controlBuscadorEtiqueta"
            [matAutocomplete]="auto"
          >

          <mat-autocomplete
            autoActiveFirstOption
            #auto="matAutocomplete"
            (optionSelected)="selectEtiqueta($event)"
          >
            <mat-option
              *ngIf="es_editor && buscadorEtiqueta.value.length > 0"
              matTooltip="Agrega una nueva etiqueta"
              [matTooltipShowDelay]="500"
              [matTooltipHideDelay]="100"
              (click)="setUpEditor(buscadorEtiqueta)"
            >
              Agregar {{buscadorEtiqueta.value}}
            </mat-option>

            <mat-option
              *ngFor="let etiqueta of etiquetasFiltradas | async"
              [value]="etiqueta.etiqueta"
              matTooltip="{{etiqueta.descripcion}}"
              [matTooltipShowDelay]="500"
              [matTooltipHideDelay]="100"
            >
              {{etiqueta.etiqueta}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

      <div class="boxW100">
        <mat-chip-list>
          <mat-chip
            class="etiqueta-chip"
            *ngFor="let etiqueta of etiquetasAgregadas"
            matTooltip="{{etiqueta.descripcion}}"
            [matTooltipShowDelay]="500"
            [matTooltipHideDelay]="100"
          >
            {{etiqueta.etiqueta}}
            <button matChipRemove (click)="removeEtiqueta(etiqueta.id)">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </mat-card-content>
</mat-card>