<div class="flex-center flex-align-center boxW100 flex-column gap-20">
  <div class="boxW100 flex-row flex-space-between">
    <div class="boxW100">
      <mat-form-field class="boxW100">
        <mat-label> Busqueda </mat-label>

        <input
          type="text"
          placeholder="Ej: Optimizador"
          matInput
          (input)="filtrarReferentes($event)"
        >
      </mat-form-field>
    </div>

    <div class="flex-row gap-20">
      <button
        mat-icon-button
        color="primary"
        *ngIf="es_editable"
        (click)="editarReferente(null)"
      >
        <mat-icon> bookmarks </mat-icon>
      </button>
    </div>
  </div>

  <myrmex-academic-referecnce-box
    class="boxW100"
    *ngFor="let academicReference of references"
    [academicReference]="academicReference"
    [es_reportable]="es_reportable"
    [es_eliminable]="es_eliminable"
    [es_editable]="es_editable"
    [es_reasociable]="es_asociable"
    [es_asociado]="esAsociado(academicReference)"
    (emitirEdicion)="editarReferente($event)"
    (emitirEliminacion)="eliminarReferente($event)"
    (emitirReasociacion)="interpretarReasociacion($event.refrt, $event.accion)"
  >
  </myrmex-academic-referecnce-box>

  <div
    *ngIf="esVacio()"
    class="boxW100 flex-column gap-10"
  >
    <div
      *ngIf="!es_padre_advertencia"
      class="boxW100 flex-column flex-center gap-10 flex-align-center fc-color-primary"
    >
      <mat-icon>sentiment_very_dissatisfied</mat-icon>
      <span>No hay referentes académicos</span>
    </div>

    <div
      *ngIf="es_padre_advertencia"
      class="boxW100"
    >
      <ng-content>
      </ng-content>
    </div>
  </div>
</div>