<div class="flex-center flex-align-center boxW100 flex-column gap-20">
  <div class="boxW100 flex-row flex-space-between">
    <div></div>

    <div class="flex-row gap-20">
      <button
        mat-icon-button
        color="primary"
        (click)="editarReferente(null)"
      >
        <mat-icon> bookmarks </mat-icon>
      </button>
    </div>
  </div>

  <myrmex-academic-referecnce-box
    class="boxW100"
    *ngFor="let academicReference of academicReferences"
    [academicReference]="academicReference"
    [es_reportable]="es_reportable"
    [es_eliminable]="es_eliminable"
    [es_editable]="es_editable"
    (emitirEdicion)="editarReferente($event)"
    (emitirEliminacion)="eliminarReferente($event)"
  >
  </myrmex-academic-referecnce-box>
</div>