<div class="boxW100 flex-column gap-10">
  <button
    class="boxW100"
    mat-flat-button
    color="primary"
    *ngIf="paramz_problm.params_list.length > 0"
    [disabled]="!es_modificado"
    [ngClass]="{'esta_deshabilitado': !es_modificado}"
    (click)="confirm_parametrization()"
  >
    <mat-icon>library_add_check</mat-icon>
    Confirmar parametrizaci&oacute;n
  </button>

  <div id="param-problm-container">
    <myrmex-param-editor-box
      *ngFor="let param of paramz_problm.params_list"
      [parameter]="param"
      [tipos]="tipos"
      (emitir_cambios)="set_es_modificado(true)"
    >
    </myrmex-param-editor-box>
  </div>

  <button
    class="boxW100"
    mat-flat-button
    color="primary"
    (click)="add_paramz_problm_param()"
  >
    <mat-icon>exposure_plus_1</mat-icon>
    Confirmar parametrizaci&oacute;n
  </button>
</div>