<div class="page-wrapper">
  <div class="boxW100 flex-row flex-space-between">
    <div class="perfil-container">
      <myrmex-perfil-box
        [perfil]="perfil"
        [subtitulo]="getSubtitulo()"
        [es_correo_visible]="esCorreoVisible()"
      >
      </myrmex-perfil-box>

      <mat-card class="boxW100 profile-content-box">
        <mat-card-header>
          <mat-icon mat-card-avatar color="primary"> query_stats </mat-icon>
          <mat-card-title class="boxW100 profile-content-box-title">
            Problemas propios
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="problemas.length > 0" class="boxW100 flex-column gap-10">
            <div *ngFor="let problema of problemas">
              <myrmex-optmzd-box
                [optimizador]="problema"
              >
              </myrmex-optmzd-box>
            </div>
          </div>
          <div *ngIf="problemas.length === 0" class="boxW100 flex-column gap-10">
            <div class="boxW100 flex-column flex-center gap-10 flex-align-center fc-color-primary">
              <mat-icon>sentiment_very_dissatisfied</mat-icon>
              <span>No hay problemas propios</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="aditamentos-container">
      <button
        *ngIf="esCerrarSesionVisible()"
        class="boxW100 main-function-button-H"
        mat-flat-button
        color="primary"
        (click)="doSignout()"
      >
        <mat-icon>do_not_disturb_on</mat-icon>
        Cerrar sesi&oacute;n
      </button>

      <myrmex-roles-box
        *ngIf="esRolesVisible()"
        [roles]="permisos"
      >
      </myrmex-roles-box>
    </div>
  </div>
</div>