<div
  class="optimizador-container"
  (click)="do_action($event)"
  [ngClass]="{'selecto-optimizador': es_selecto}"
>
  <span>
    {{optimizador.titulo_entrada}}
  </span>

  <div class="optimizador-datos-container">
    <span *ngFor="let dato of optimizador.lista_datos()">
      {{dato[0]}}: {{dato[1]}}
    </span>
  </div>

  <mat-chip-list>
    <mat-chip
      *ngFor="let etiqueta of optimizador.etiquetas"
      disableRipple="false"
      highlighted="false"
      (click)="do_action($event)"
    >
      {{etiqueta}}
    </mat-chip>
  </mat-chip-list>

  <div
    class="boxW100 flex-row flex-end gap-10"
    *ngIf="opcion_previsualizar"
  >
    <button
      *ngIf="!es_selecto"
      mat-flat-button
      color="primary"
      (click)="do_action($event)"
    >
      <mat-icon>checklist</mat-icon>
      Seleccionar
    </button>

    <button
      *ngIf="es_habilitado_previsualizacion()"
      mat-flat-button
      color="primary"
      (click)="do_previsualizacion($event)"
    >
      <mat-icon>visibility</mat-icon>
      Previsualizar
    </button>
  </div>
</div>