<div class="page-wrapper">
  <div class="boxW100 flex-row flex-space-between">
    <div class="problema-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h2>{{problema.titulo}}</h2>
          </mat-card-title>

          <mat-card-subtitle>
            <mat-chip-list>
              <mat-chip
                *ngFor="let etiqueta of problema.etiquetas"
              >
                {{etiqueta}}
              </mat-chip>
            </mat-chip-list>
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <mat-accordion multi>
            <mat-expansion-panel
              hideToggle
              [expanded]="descripcion_apertura"
              (opened)="set_descripcion_apertura(true)"
              (closed)="set_descripcion_apertura(false)"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Descripci&oacute;n
                </mat-panel-title>
              </mat-expansion-panel-header>

              <markdown
                class=""
                katex
                lineHighlight
                line="1-{{problema.descripcion_puntuada.length}}"
                [data]="problema.descripcion_puntuada"
              >
              </markdown>
            </mat-expansion-panel>

            <mat-expansion-panel
              hideToggle
              [expanded]="matematizacion_apertura"
              (opened)="set_matematizacion_apertura(true)"
              (closed)="set_matematizacion_apertura(false)"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Matematizaci&oacute;n
                </mat-panel-title>
              </mat-expansion-panel-header>

              <markdown
                class=""
                katex
                lineHighlight
                line="1-{{problema.matematizacion_puntuada.length}}"
                [data]="problema.matematizacion_puntuada"
              >
              </markdown>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="aditamentos-container">
      <!--myrmex-paramz-algorithm-box
        *ngIf="algoritmo.parametrizacion_id"
        [paramz_algrtm_id]="algoritmo.parametrizacion_id"
      >
      </myrmex-paramz-algorithm-box-->
    </div>
  </div>
</div>