:has(> .problema-container) {
  --gap: 20px;
  --optimizador-width: 60%;
  gap: var(--gap);
}

.problema-container {
  width: calc(var(--optimizador-width) - var(--gap));
}

.problema-container mat-chip-list mat-chip {
  background-color: var(--myrmex-primary-light);
  color: #fff;
}

.aditamentos-container {
  width: calc(100% - var(--optimizador-width));
  display: flex;

  flex-direction: column;
  gap: 10px;
}