<div class="page-wrapper">
  <div class="boxW100 flex-row flex-space-between">
    <div class="problema-container">
      <myrmex-problm-box *ngIf="problema.problema_id" [problema]="problema">
      </myrmex-problm-box>
    </div>

    <div class="aditamentos-container">
      <button
        class="boxW100 main-function-button-H"
        mat-flat-button
        color="primary"
        *ngIf="problema.problema_id"
        routerLink="/problema/editor/{{problema.problema_id}}"
      >
        <mat-icon>edit</mat-icon>
        Editar la problema
      </button>

      <myrmex-paramz-problem-box
        *ngIf="problema.parametrizacion_id"
        [paramz_problem_id]="problema.parametrizacion_id"
      >
      </myrmex-paramz-problem-box>
    </div>
  </div>
</div>