.mat-card {
  background-color: #f7f7f7;
  border-color: #0004;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;

  position: relative;
}

.goto-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

mat-card-header {
  padding-right: 30px;
}