<div id="param-container">
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar color="primary">
        {{parameter.getParamTypeIcon()}}
      </mat-icon>

      <mat-card-title> Creador de parametro </mat-card-title>
    </mat-card-header>

    <mat-card-content class="seccion-container">
      <div class="boxW100 flex-row gap-10 flex-space-between">
        <mat-form-field class="boxW100">
          <mat-label> Nombre </mat-label>

          <input
            type="text"
            placeholder="Ej: Cantidad de variables"
            matInput
            [(ngModel)]="parameter.nombre"
          >
        </mat-form-field>

        <mat-form-field>
          <mat-label>  </mat-label>

          <mat-select
            [(ngModel)]="parameter.tipo"
          >
            <mat-option
              *ngFor="let tipo of tipos"
              [value]="tipo"
            >
              {{
                tipo.substring(0, 1).toUpperCase() +
                tipo.substring(1).toLowerCase()
              }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>

    <!--mat-card-actions align="end">
      <button
        mat-flat-button
        color="primary"
        (click)="reinitParam(i_param)"
      >
        <mat-icon>restart_alt</mat-icon>
        Reiniciar
      </button>
    </mat-card-actions-->
</mat-card>
</div>