

#param-container {
  display: flex;
  width: 100%;
}

.mat-card {
  background-color: #f7f7f7;
  border-color: #0004;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;

  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
}

.mat-card-header {
  align-items: center;

  margin-bottom: auto;
}

.mat-icon.mat-card-avatar {
  display: flex;
  align-items: center;
  align-self: flex-start;

  width: auto;
  height: fit-content;
  padding: 2px;
  background-color: var(--myrmex-primary);
  border-radius: 50%;

  color: white;
  font-size: 18px;
}

mat-card-title {
  color: var(--myrmex-primary);
  font-family: code-pro-bold, sans-serif;
  font-size: 15px !important;
  line-height: normal;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 3px;

  margin-bottom: 0px !important;
}

mat-form-field {
  margin: 5px 10px 0;
  width: auto;
}

mat-card-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 5px;
  padding: 0;
  margin: auto 0;
}

mat-card-actions button {
  width: 100%;
  font-size: 12px;
}

mat-card-actions button mat-icon {
  font-size: 16px;
  width: auto;
  height: auto;
}

.form-field-fixed {
  width: 100%;
  margin: 0;
}

.seccion-title {
  color: var(--myrmex-primary);
  font-family: code-pro-bold, sans-serif;
  font-size: 14px;
}

.seccion-button {
  color: #666;
  height: 20px;
}

.seccion-button mat-icon {
  width: auto;
  height: auto;

  float: inline-end;
  margin-right: 10px;

  font-size: 20px !important;
}

.restriccion-title {
  color: var(--myrmex-primary);
  font-family: code-pro-bold, sans-serif;
  font-size: 11px;
}