<div class="page-wrapper">
  <div class="boxW100 flex-row flex-space-between">
    <div class="algoritmo-container flex-column gap-20">
      <myrmex-algrtm-box *ngIf="algoritmo.algoritmo_id" [algoritmo]="algoritmo">
      </myrmex-algrtm-box>

      <myrmex-academic-referecnce-list
        [academicReferences]="academicReferences"
        [es_padre_advertencia]="true"
      >
        <myrmex-actions-warning-box
          [modo_alternativo]="2"
        ></myrmex-actions-warning-box>
      </myrmex-academic-referecnce-list>
    </div>

    <div class="aditamentos-container">
      <button
        class="boxW100 main-function-button-H"
        mat-flat-button
        color="primary"
        *ngIf="esEditable()"
        routerLink="/algoritmo/editor/{{algoritmo.algoritmo_id}}"
      >
        <mat-icon>edit</mat-icon>
        Editar el problema
      </button>

      <myrmex-calif-box
        *ngIf="getIdentificador()"
        [credencial]="getIdentificador()"
        [es_calificable]="esCalificable()"
      ></myrmex-calif-box>

      <myrmex-paramz-algorithm-box
        *ngIf="algoritmo.parametrizacion_id"
        [paramz_algrtm_id]="algoritmo.parametrizacion_id"
      >
      </myrmex-paramz-algorithm-box>
    </div>
  </div>
</div>