<div class="page-wrapper">
  <div class="boxW100 flex-row flex-space-between">
    <div class="solucion-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title> Creador de soluci&oacute;n </mat-card-title>
        </mat-card-header>

        <mat-card-content class="seccion-container">
          <div class="boxW100 flex-row gap-10 flex-space-between">
            <mat-form-field class="boxW100">
              <mat-label> T&iacute;tulo </mat-label>

              <input
                type="text"
                placeholder="Ej: Aplicaci&oacute;un del OCH para el problema P?NP"
                matInput
                [(ngModel)]="solucion.titulo"
              >
            </mat-form-field>

            <mat-form-field>
              <mat-label> Lenguaje </mat-label>

              <mat-select
                [(ngModel)]="solucion.lenguaje_nombre"
              >
                <mat-option
                  *ngFor="let lenguaje of lenguajes_habilitados"
                  [value]="lenguaje"
                >
                  {{
                    lenguaje.substring(0, 1).toUpperCase() +
                    lenguaje.substring(1).toLowerCase()
                  }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="seccion-editor">
            <span class="seccion-title"> C&oacute;digo </span>

            <markdown
              *ngIf="codigo_vista == 'P'"
              class=""
              katex
              lineHighlight
              clipboard
              [clipboardButtonTemplate]="togglePreviewModeButton"
              (onCopyToClipboardClick)="null"
              [data]="'```' + solucion.lenguaje_nombre + '\n' + solucion.codigo_puntuado + '\n```'"
            >
            </markdown>

            <ng-template #togglePreviewModeButton>
              <button mat-icon-button class="toolbar-button" (click)="toggle_codigo_vista()">
                <mat-icon>edit_note</mat-icon>
              </button>
            </ng-template>

            <mat-form-field
              *ngIf="codigo_vista == 'E'"
              class="boxW100 toolbar-mat-form-field"
            >
              <mat-label>C&oacute;digo de la soluci&oacute;n</mat-label>

              <textarea
                matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="3 "
                placeholder="y: function = lambda x: x**4"
                [(ngModel)]="solucion.codigo_puntuado"
              ></textarea>

              <button
                matSuffix
                mat-icon-button
                class="toolbar-button form-field-toolbar"
                (click)="toggle_codigo_vista()"
              >
                <mat-icon>visibility</mat-icon>
              </button>

            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="aditamentos-container">
      <div class="boxW100 flex-column gap-10">
        <mat-card>
          <mat-card-header>
            <mat-card-title> Inspector </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <div class="inspector-container">
              <div class="rel-content">
                <span class="rel-clave"> Implementaci&oacute;n </span>

                <div class="rel-actions">
                  <button
                    *ngIf="solucion.implementacion_id"
                    mat-flat-button
                    color="primary"
                    (click)="set_implmnt_visor_apertura(true)"
                  >
                    <mat-icon>visibility</mat-icon>
                    Ver
                  </button>

                  <button
                    mat-flat-button
                    color="primary"
                    (click)="set_implmnt_selector_apertura(true)"
                  >
                    <mat-icon>tune</mat-icon>
                    Modificar
                  </button>
                </div>
              </div>

              <div class="rel-content">
                <span class="rel-clave">
                  Argumentaci&oacute;n implementaci&oacute;n
                </span>

                <div class="rel-actions">
                  <myrmex-args-box
                    *ngIf="solucion.argumentacion_implementacion_id"
                    [argumentacion]="argumentacion_implmnt"
                  >
                  </myrmex-args-box>

                  <button
                    mat-flat-button
                    color="primary"
                    [disabled]="!paramz_implmnt_id_selected"
                    (click)="set_args_implmnt_selector_apertura(true)"
                  >
                    <mat-icon>tune</mat-icon>
                    Modificar
                  </button>
                </div>
              </div>

              <div class="rel-content">
                <span class="rel-clave"> Instancia </span>

                <div class="rel-actions">
                  <button
                    *ngIf="solucion.instancia_id"
                    mat-flat-button
                    color="primary"
                    (click)="set_instc_visor_apertura(true)"
                  >
                    <mat-icon>visibility</mat-icon>
                    Ver
                  </button>

                  <button
                    mat-flat-button
                    color="primary"
                    (click)="set_instc_selector_apertura(true)"
                  >
                    <mat-icon>tune</mat-icon>
                    Modificar
                  </button>
                </div>
              </div>

              <div class="rel-content">
                <span class="rel-clave"> Argumentaci&oacute;n instancia </span>

                <div class="rel-actions">
                  <myrmex-args-box
                    *ngIf="solucion.argumentacion_instancia_id"
                    [argumentacion]="argumentacion_instc"
                  >
                  </myrmex-args-box>

                  <button
                    mat-flat-button
                    color="primary"
                    [disabled]="!paramz_instc_id_selected"
                    (click)="set_args_instc_selector_apertura(true)"
                  >
                    <mat-icon>tune</mat-icon>
                    Modificar
                  </button>
                </div>
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions align="end">
            <button
              class="boxW100 main-function-button-H"
              mat-flat-button
              color="primary"
              [disabled]="no_es_guardable_solucion()"
              (click)="saveArgs()"
            >
              <mat-icon>save</mat-icon>
              Guardar
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>