<div class="page-wrapper">
  <div class="boxW100 flex-row flex-space-between">
    <div class="implementacion-container">
      <myrmex-implmnt-box
        *ngIf="implementacion.implementacion_id"
        [implementacion]="implementacion"
        [arg_selecto]="arg_selecto"
        [args_editados]="args_editados"
        [arg_selecto_argumentos]="arg_selecto_argumentos"
        (emitir_seleccion)="set_arg_selecto($event)"
        (emitir_args_editados)="set_args_editados($event)"
        (emitir_argumentos)="set_arg_selecto_argumentos($event)"
      >
      </myrmex-implmnt-box>
    </div>

    <div class="aditamentos-container">
      <myrmex-implmnt-eval-box
        *ngIf="implementacion.implementacion_id"
        [implmnt_id]="implementacion.implementacion_id"
        [arg_selecto]="arg_selecto"
        [args_editados]="args_editados"
      >
      </myrmex-implmnt-eval-box>

      <myrmex-args-implmnt-picker-box
        *ngIf="implementacion.parametrizacion_id"
        [paramz_algrtm_id]="implementacion.parametrizacion_id"
        [args_editados]="args_editados"
        (emitir_seleccion)="set_arg_selecto($event)"
        (emitir_argumentos)="set_arg_selecto_argumentos($event)"
      >
      </myrmex-args-implmnt-picker-box>
    </div>
  </div>
</div>