<div
    class="sidenav-container">
  <div>
    <button
        mat-icon-button
        (click)="estaExtendido = !estaExtendido"
        style="margin: 10px;">
      <mat-icon aria-label="Menu">menu</mat-icon>
    </button>
  </div>

  <div class="menu-container">
    <mat-nav-list *ngFor="let option of siteOptions">
      <mat-list-item>

        <a routerLink={{option.enlace}}>
          <mat-icon mat-list-icon>{{option.icono}}</mat-icon>
        </a>

        <a
            class="mat-list-text"
            routerLink={{option.enlace}}>
          <h4 mat-line *ngIf="estaExtendido">{{option.titulo}}</h4>
        </a>

      </mat-list-item>
    </mat-nav-list>
  </div>

  <div class="footer">
    <button
        routerLink="/"
        mat-button
        style="padding: 0;">
      <img src="./assets/img/icons/core/myrmex.svg"/>
    </button>
    <div
        *ngIf="estaExtendido"
        class="copyright">
      <span>
        Sistema Myrminki
        <mat-icon
            mat-icon
            aria-hidden="true">
          copyright
        </mat-icon>
      </span>
      <span>Desarrollado por Pedro Barr.</span>
      <span>Version 0.2</span>
    </div>
  </div>

</div>