.mat-card {
  background-color: #f7f7f7;
  border-color: #0004;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
}

.reference-title {
  color: var(--myrmex-primary);
  font-family: code-pro-bold, sans-serif;
  letter-spacing: 3pt;
  margin-bottom: 0;
  align-self: center;
}

mat-card-header {
  width: 100% !important;
  flex-flow: column;
}

.mat-card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;

  margin-bottom: 16px;
}

mat-card-subtitle {
  margin-bottom: 10px;
}

.datos-referentes-container {
  display: flex;
  flex-direction: column;
  gap: 0.5px;
  font-family: montserrat, sans-serif;
  letter-spacing: 1px;
}

.autores-list-container {
  color: var(--myrmex-primary);
}

mat-card-title mat-chip-list {
  align-self: center;
}

mat-card-title mat-chip-list mat-chip {
  background-color: var(--myrmex-primary-light);
  color: #fff;
}

::ng-deep .mat-menu-panel {
  min-height: 43px !important;
}

::ng-deep .mat-menu-content {
  padding: 0 !important;
}

::ng-deep .mat-menu-item {
  height: 40px !important;
  padding: 0 10px !important;
}

::ng-deep .mat-menu-item .mat-icon {
  font-size: 20px !important;
  margin-right: 10px !important;
}

.es-asociada {
  background-color: var(--myrmex-primary-selected);
}