<mat-card>
  <mat-card-header>
    <mat-card-title>
      <div class="boxW100 flex-row flex-space-between">
        <mat-chip-list>
          <ng-container>
            <h2 class="reference-title">
              {{academicReference.titulo_principal}}
            </h2>
              
            <mat-chip *ngIf="academicReference.tipo_contenido">
              {{academicReference.getTipoContenidoEtiqueta()}}
            </mat-chip>
              
            <mat-chip *ngIf="academicReference.volumen_periodico">
              Vol. {{academicReference.volumen_periodico}}
            </mat-chip>

            <mat-chip *ngIf="academicReference.numero_periodico">
              Num. {{academicReference.numero_periodico}}
            </mat-chip>

            <mat-chip *ngIf="academicReference.edicion">
              Ed. {{academicReference.edicion}}
            </mat-chip>
            
            <mat-chip *ngIf="academicReference.anho">
              {{academicReference.anho}}
            </mat-chip>
          </ng-container>
        </mat-chip-list>

        <div class="flex-row gap-20" *ngIf="esMenuVisible()">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="null" *ngIf="es_reportable">
              <mat-icon class="menu-item-icon"> assignment_late </mat-icon>
              <span> Reportar </span>
            </button>
            
            <button mat-menu-item (click)="null" *ngIf="false">
              <mat-icon class="menu-item-icon"> bookmarks </mat-icon>
              <span> Duplicar </span>
            </button>

            <button
              mat-menu-item
              (click)="editarReferente()"
              *ngIf="es_editable"
            >
              <mat-icon class="menu-item-icon"> collections_bookmark </mat-icon>
              <span> Editar </span>
            </button>

            <button
              mat-menu-item
              (click)="eliminarReferente()"
              *ngIf="es_eliminable"
            >
              <mat-icon class="menu-item-icon"> bookmark_remove </mat-icon>
              <span> Eliminar </span>
            </button>
          </mat-menu>
        </div>
      </div>
    </mat-card-title>

    <mat-card-subtitle>
      {{academicReference.apa_reference}}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="margin-sides-25">
    <div class="datos-referentes-container">
      <div
        class="autores-list-container"
        *ngIf="academicReference.autores && academicReference.autores.length"
      >
        {{academicReference.autores.join(', ')}}
      </div>

      <span *ngIf="academicReference.enlace_doi">
        <a [href]="academicReference.enlace_doi" target="_blank">
          {{academicReference.enlace_doi}}
        </a>
      </span>

      <span *ngIf="academicReference.enlace_red">
        <a [href]="academicReference.enlace_red" target="_blank">
          {{academicReference.enlace_red}}
        </a>
      </span>

      <span *ngIf="academicReference.isbn">
        ISBN: {{academicReference.isbn}}
      </span>

      <span *ngIf="academicReference.editorial">
        Editorial: {{
          academicReference.editorial + (
            academicReference.edicion ?
            ', ' + academicReference.edicion + ' edici\u00f3n':
            ''
            ) + (
            academicReference.anho ?
            ', ' + academicReference.anho:
            ''
            )
        }}
      </span>

      <span
        *ngIf="academicReference.tipo_contenido_secundario && academicReference.titulo_secundario"
      >
        {{academicReference.getTipoContenidoSecundarioEtiqueta()}}:
          {{academicReference.titulo_secundario}}
      </span>

      <span *ngIf="academicReference.volumen_periodico">
        Volumen: {{
          academicReference.volumen_periodico + (
            academicReference.numero_periodico ?
            ' (' + academicReference.numero_periodico + ')':
            ''
            )
        }}
      </span>

      <span
        *ngIf="academicReference.editores && academicReference.editores.length"
      >
        Editores: {{academicReference.editores.join(', ')}}
      </span>

      <span *ngIf="academicReference.paginas">
        PP: {{academicReference.paginas}}
      </span>

      <span *ngIf="academicReference.nota">
        Nota: {{academicReference.nota}}
      </span>
    </div>
  </mat-card-content>
</mat-card>