<div class="title-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>Sistema Myrminki</h2>
      </mat-card-title>

      <mat-card-subtitle>
        <h2>Pagina de configuracion</h2>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        A continuacion, configure el Sistema Myrminki, estableciendo un
        optimizador con algunas estrategias de implementacion e instancie
        un problema de optimizacion parametrizado.
        Puede exponer/aprender sobre las estrategias establecidas o
        implementarlas para solucionar el problema instanciado.
      </p>
    </mat-card-content>
  </mat-card>
</div>

<div
    style="
        position: absolute;
        top: 150%;
        height: 300px;
        left: 20%;
        width: 18%;">
  <div style="height: calc(100% - 1px);">
    <div
        role="application"
        mattooltip=""
        style="
            background-color: green;
            border-color: black;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            border-radius: 10px;
            margin: 1px;
            padding: 0 1px;
            line-height: 25px;">
      <div style="display: contents;color: white;">
        <p style="font-size: smaller; margin: 0px; line-height: normal;">
          PP
        </p>
        <span aria-hidden="true"> EE </span>
        <br/>
        <span aria-hidden="true"> BABA </span>
      </div>
    </div>
  </div>
</div>

<div
    style="
        position: absolute;
        top: 150%;
        height: 300px;
        left: 40%;
        width: 18%;">
  <div style="height: calc(100% - 1px);">
    <div
        role="application"
        mattooltip=""
        style="
            background-color: green;
            border-color: black;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            border-radius: 10px;
            margin: 1px;
            padding: 0 1px;
            line-height: 25px;">
      <div style="display: contents;color: white;">
        <p style="font-size: smaller; margin: 0px; line-height: normal;">
          PP
        </p>
        <span aria-hidden="true"> EE </span>
        <br/>
        <span aria-hidden="true"> BABA </span>
      </div>
    </div>
  </div>
</div>

<div
    style="
        position: absolute;
        top: 180%;
        height: 80px;
        left: 60%;
        width: 20%;">
  <div style="height: calc(100% - 1px);">
    <div
        role="application"
        mattooltip=""
        style="
            background-color: green;
            border-color: black;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            border-radius: 10px;
            margin: 1px;
            padding: 0 1px;
            line-height: 25px;">
      <div style="display: contents;color: white;">
        <p style="font-size: smaller; margin: 0px; line-height: normal;">
          PP
        </p>
        <span aria-hidden="true"> EE </span>
        <br/>
        <span aria-hidden="true"> BABA </span>
      </div>
    </div>
  </div>
</div>

<div
    style="
        position: absolute;
        top: calc(180% + 90px);
        height: 80px;
        left: 60%;
        width: 20%;">
  <div style="height: calc(100% - 1px);">
    <div
        role="application"
        mattooltip=""
        style="
            background-color: green;
            border-color: black;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            border-radius: 10px;
            margin: 1px;
            padding: 0 1px;
            line-height: 25px;">
      <div style="display: contents;color: white;">
        <p style="font-size: smaller; margin: 0px; line-height: normal;">
          PP
        </p>
        <span aria-hidden="true"> EE </span>
        <br/>
        <span aria-hidden="true"> BABA </span>
      </div>
    </div>
  </div>
</div>