<div class="page-wrapper">
  <div class="title-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>Sistema Myrminki</h2>
        </mat-card-title>

        <mat-card-subtitle>
          <h2>Explorar</h2>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>
          {{pageDescriptor}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="boxW100 flex-row flex-space-between">
    <div class="optimizador-previsualizacion">
      <mat-form-field class="boxW100">
        <mat-label> Busqueda </mat-label>

        <input
          type="text"
          placeholder="Ej: Optimizador"
          matInput
          [(ngModel)]="terminoBuscado"
          (change)="loadOptimizers()"
        >
      </mat-form-field>

      <myrmex-optmzd-box
        *ngFor="let optimizador of optimizadores"
        [optimizador]="optimizador"
      >
      </myrmex-optmzd-box>
    </div>

    <div class="aditamentos-container">
      <myrmex-tag-search-box
        (emitirSeleccion)="seleccionEtiqueta($event)"
        (emitirRemocion)="remocionEtiqueta($event)"
      ></myrmex-tag-search-box>

      <div class="boxW100 flex-column gap-5">
        <button
          class="boxW100 main-function-button-H"
          mat-flat-button
          color="primary"
          routerLink="/solucion/editor"
        >
          <mat-icon>diversity_2</mat-icon>
          Crear soluci&oacute;n
        </button>
      </div>
    </div>
  </div>
</div>