.mat-card-content {
  font-family: montserrat, sans-serif;
  line-height: 20px;
  white-space: pre-line;

  p {
      text-align: justify;
  }

}

.mat-card-header {
  justify-content: center;
}

.mat-card {
  background-color: #f7f7f7;
  border-color: #0004;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
}

.title-container {
  .mat-card {
    width: calc(100% - 20px);
    padding: 10px;
    padding-top: unset;
    padding-bottom: 20px;
    margin-top: 20px;
  }

  .mat-card-title {
    h2 {
      font-family: wayner, monospace;
      font-size: 60pt;
      font-weight: 700;
      letter-spacing: 3pt;
      text-shadow: 2px 0 0 #b00, 0 2px #b00, 1px 1px #b00;
    }
  }

  .mat-card-subtitle {
    h2 {
      color: black;
      text-align: center;
      padding-top: 19px;
      font-family: code-pro-bold, sans-serif;
      font-size: 19pt;
      letter-spacing: 9pt;
      font-weight: bolder;
      text-shadow: 0 6px #0004, 0 12px #0002;
      margin-top: -10px;
    }
  }

  .mat-card-content {
    p {
      text-align-last: center;
      font-size: 12pt;
      padding: 0 10%;

      a {
        text-decoration: none;
        color: slategrey;
        margin: 3px;
        border-width: 1px;
        border-radius: 3px;
        font-weight: 500;
        padding: 2px 9px;
      }

    }
  }
}

:has(> .optimizador-previsualizacion) {
  --gap: 20px;
  --optimizador-width: 60%;
  gap: var(--gap);
}

.optimizador-previsualizacion {
  width: calc(var(--optimizador-width) - var(--gap));
  display: flex;
  flex-direction: column;
  gap: 15px;
}

myrmex-tag-search-box {
  width: calc(100% - var(--optimizador-width));
}