<div class="page-wrapper">
  <div class="boxW100 flex-row flex-space-between">
    <div class="instancia-container">
      <myrmex-instc-box
        *ngIf="instancia.instancia_id"
        [instancia]="instancia"
        [arg_selecto]="arg_selecto"
        [args_editados]="args_editados"
        [arg_selecto_argumentos]="arg_selecto_argumentos"
        (emitir_seleccion)="set_arg_selecto($event)"
        (emitir_args_editados)="set_args_editados($event)"
        (emitir_argumentos)="set_arg_selecto_argumentos($event)"
      >
      </myrmex-instc-box>
    </div>

    <div class="aditamentos-container">
      <myrmex-instc-eval-box
        *ngIf="instancia.instancia_id"
        [instc_id]="instancia.instancia_id"
        [arg_selecto]="arg_selecto"
        [args_editados]="args_editados"
      >
      </myrmex-instc-eval-box>

      <button
        class="boxW100 main-function-button-H"
        mat-flat-button
        color="primary"
        *ngIf="instancia.instancia_id"
        routerLink="/instancia/editor/{{instancia.instancia_id}}"
      >
        <mat-icon>edit</mat-icon>
        Editar la instancia
      </button>

      <myrmex-args-instc-picker-box
        *ngIf="instancia.parametrizacion_id"
        [paramz_problm_id]="instancia.parametrizacion_id"
        [args_editados]="args_editados"
        (emitir_seleccion)="set_arg_selecto($event)"
        (emitir_argumentos)="set_arg_selecto_argumentos($event)"
      >
      </myrmex-args-instc-picker-box>
    </div>
  </div>
</div>