<div class="boxW100 flex-column gap-10">
  <span class="algrtm-title" *ngIf="es_emergente"> Algoritmos </span>

  <div id="problm-container">
    <myrmex-optmzd-box
      *ngFor="let algoritmo of algoritmos; index as i_algrtm"
      [optimizador]="algoritmo"
      [es_selecto]="algrtm_selecto == algoritmo.get_id()"
      [opcion_previsualizar]="es_emergente"
      [tipo_accion]="es_emergente ? 'emit' : 'route'"
      (emitir_accion)="set_algrtm_selected($event)"
      (emitir_visualizar)="set_algrtm_editor_apertura(true, $event)"
    >
    </myrmex-optmzd-box>
  </div>

  <button
    *ngIf="es_emergente"
    class="boxW100"
    mat-flat-button
    color="primary"
    mat-dialog-close
  >
    Cerrar
  </button>
</div>