/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: wayner;
  src: url("assets/fonts/WAYNER.otf") format("opentype");
}

@font-face {
  font-family: code-pro-bold;
  src: url("assets/fonts/CODE Bold.otf") format("opentype");
}

@font-face {
  font-family: montserrat;
  src: url("assets/fonts/montserrat/Montserrat-Regular.ttf") format("opentype");
}

:root {
  --myrmex-primary: #BD231E;

  --myrmex-primary-light: #D96D69;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column-reversed {
  display: flex;
  flex-direction: column-reverse;
}

.flex-row-reversed {
  display: flex;
  flex-direction: row-reverse;
}

.gap-off {
  gap: 0px;
}

.margin-off {
  margin: 0px;
}

.margin-top-off {
  margin-top: 0px;
}

.margin-bottom-off {
  margin-bottom: 0px;
}

.margin-left-off {
  margin-left: 0px;
}

.margin-right-off {
  margin-right: 0px;
}

@for $i from 1 through 10 {
  $gap: $i * 5;

  .gap-#{$gap} {
    gap: #{$gap}px;
  }
}

@for $i from 1 through 50 {
  $space: $i * 1;

  .margin-#{$space} {
    margin: #{$space}px;
  }

  .margin-top-#{$space} {
    margin-top: #{$space}px;
  }

  .margin-bottom-#{$space} {
    margin-bottom: #{$space}px;
  }

  .margin-left-#{$space} {
    margin-left: #{$space}px;
  }

  .margin-right-#{$space} {
    margin-right: #{$space}px;
  }

  .margin-sides-#{$space} {
    margin-left: #{$space}px;
    margin-right: #{$space}px;
  }
}

.boxW100 {
  width: 100%;
}

.boxH100 {
  height: 100%;
}

.page-wrapper {
  @extend .flex-column;
  @extend .gap-30;
  @extend .margin-bottom-30;
  @extend .boxW100;
  @extend .flex-center;
  min-height: 100vh;

  &.without-bottom-slope {
    @extend .margin-bottom-off;
  }
}

.flex-align-start {
  display: flex;
  align-items: flex-start;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-align-end {
  display: flex;
  align-items: flex-end;
}

.flex-align-space-between {
  display: flex;
  align-items: space-between;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}


button.mat-mini-fab[color="primary"] {
  background-color: var(--myrmex-primary);
}

.fc-color-primary {
  color: var(--myrmex-primary);
}