/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: wayner;
  src: url("assets/fonts/WAYNER.otf") format("opentype");
}

@font-face {
  font-family: code-pro-bold;
  src: url("assets/fonts/CODE Bold.otf") format("opentype");
}

@font-face {
  font-family: montserrat;
  src: url("assets/fonts/montserrat/Montserrat-Regular.ttf") format("opentype");
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

@for $i from 1 through 10 {
  $gap: $i * 5;

  .gap-#{$gap} {
    gap: #{$gap}px;
  }

  .margin-#{$gap} {
    margin: #{$gap}px;
  }

  .margin-top-#{$gap} {
    margin-top: #{$gap}px;
  }

  .margin-bottom-#{$gap} {
    margin-bottom: #{$gap}px;
  }

  .margin-left-#{$gap} {
    margin-left: #{$gap}px;
  }

  .margin-right-#{$gap} {
    margin-right: #{$gap}px;
  }
}

.boxW100 {
  width: 100%;
}