.container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mat-card {
  background-color: #f7f7f7;
  border-color: rgba(0, 0, 0, 0.2666666667);
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  padding: 32px 16px;
}

.mat-card-header {
  justify-content: center;
}

.mat-card-title {
  h2 {
    font-family: wayner, monospace;
    font-size: 56pt;
    font-weight: 700;
    letter-spacing: 3pt;
    text-shadow: 2px 0 0 #b00, 0 2px #b00, 1px 1px #b00;
  }
}

.mat-card-subtitle {
  h2 {
    color: black;
    text-align: center;
    padding-top: 19px;
    font-family: code-pro-bold, sans-serif;
    font-size: 19pt;
    letter-spacing: 9pt;
    font-weight: bolder;
    text-shadow: 0 6px #0004, 0 12px #0002;
  }
}

.mat-card-content {
  p {
    text-align: center;
    font-size: 12pt;
    font-family: montserrat, sans-serif;

    a {
      text-decoration: none;
      color: slategrey;
      margin: 3px;
      border-width: 1px;
      border-radius: 3px;
      font-family: sans-serif;
      font-weight: 500;
      padding: 2px 3px 2px 2px;

      color: var(--myrmex-primary);
    }

  }
}