<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>Error 404</h2>
      </mat-card-title>

      <mat-card-subtitle>
        <h2>Pagina ignota</h2>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        <span>La pagina solicitada no fue hallada. Por favor dirijase a</span>
        <a routerLink="/inicio">Inicio</a>.
        <span>O, si cree que es un error, utilice el mapa del sitio o dirijase a</span>
        <a routerLink="/guias">Tutoriales</a>.
      </p>
    </mat-card-content>
  </mat-card>
</div>