<div class="page-wrapper">
  <div class="title-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>Sistema Myrminki</h2>
        </mat-card-title>

        <mat-card-subtitle>
          <h2>Referentes conceptuales</h2>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>
          {{pageDescriptor}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div
    *ngIf="esRevisable()"
    class="boxW100"
  >
    <myrmex-academic-referecnce-list
      class="boxW100"
      [academicReferences]="academicReferences"
      [es_reportable]="esReportable()"
      [es_eliminable]="esEliminable()"
      [es_editable]="esEditable()"
      (emitirEditarReferente)="editarReferente($event)"
      (emitirEliminarReferente)="eliminarReferente($event)"
    ></myrmex-academic-referecnce-list>
  </div>
</div>